<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="f2e24397-9cc5-49e8-a5fc-c140a6b5b59e" wadlVersion="http://wadl.dev.java.net/2009/02" name="XS1 API" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f2e24397-9cc5-49e8-a5fc-c140a6b5b59efileName">XS1-API</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://xs1qa2.xypro.com</con:endpoint>
    <con:endpoint>https://xs1qa3.xypro.com</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="0d012796-e8d5-4398-9893-f92506140f2e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="e550e552-e905-4719-99f4-a0c68e2f48d8">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="375b6235-a7ab-438f-82f7-e243e92b9dd0">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="1acccb02-b4b7-4e89-ae4b-e82d2719f308">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
