<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="cc42474f-7b2c-4b8d-9d11-7d3cbfc0e6b6" activeEnvironment="XS1 Rano" name="XS1_REGRESSION" lastOpened="2019-05-08T13:46:15.040-07:00" resourceRoot="${projectDir}" soapui-version="6.0.0" updated="2.7.0" encryptionMode="Not encrypted" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="com.eviware.soapui.impl.wsdl.actions.iface.tools.soapui.ProTestRunnerAction@values-local"><![CDATA[<xml-fragment xmlns:con="http://eviware.com/soapui/config">
  <con:entry key="Report Format(s)" value=""/>
  <con:entry key="Host:Port" value=""/>
  <con:entry key="Export JUnit Results" value="false"/>
  <con:entry key="Export All" value="false"/>
  <con:entry key="Save After" value="false"/>
  <con:entry key="Add Settings" value="false"/>
  <con:entry key="WSS Password Type" value=""/>
  <con:entry key="TestSuite" value="Create All Monitors"/>
  <con:entry key="Endpoint" value=""/>
  <con:entry key="Select Report Type" value="TestSuite Report"/>
  <con:entry key="System Properties" value=""/>
  <con:entry key="Run in-process" value="false"/>
  <con:entry key="Password" value=""/>
  <con:entry key="Print Report" value="false"/>
  <con:entry key="Open Report" value="false"/>
  <con:entry key="Test Case Tags" value=""/>
  <con:entry key="Export JUnit Results with test properties" value="false"/>
  <con:entry key="Global Properties" value=""/>
  <con:entry key="Project Properties" value=""/>
  <con:entry key="Project Password" value=""/>
  <con:entry key="TestCase" value="&lt;all>"/>
  <con:entry key="Username" value=""/>
  <con:entry key="user-settings.xml Password" value=""/>
  <con:entry key="TestRunner Path" value=""/>
  <con:entry key="Environment" value="Default environment"/>
  <con:entry key="Coverage Report" value="false"/>
  <con:entry key="Enable UI" value="false"/>
  <con:entry key="Root Folder" value=""/>
  <con:entry key="Ignore Errors" value="false"/>
  <con:entry key="Domain" value=""/>
  <con:entry key="Tool Args" value=""/>
  <con:entry key="Save Project" value="false"/>
</xml-fragment>]]></con:setting>
    <con:setting id="cc42474f-7b2c-4b8d-9d11-7d3cbfc0e6b6fileName">XS1_REGRESSION</con:setting>
  </con:settings>
  <con:savedRecentRuns>3</con:savedRecentRuns>
  <con:endpointStrategy xsi:type="con:DefaultEndpointStrategy" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <con:endpoint mode="COMPLEMENT" domain="https://xs1qa3.xypro.com/xs1/">https://xs1qa3.xypro.com/xs1/</con:endpoint>
    <con:endpoint mode="OVERRIDE" domain="https://xs1qa3.xypro.com/xs1/">https://xs1qa3.xypro.com</con:endpoint>
    <con:endpoint mode="COPY">https://xs1qa2.xypro.com</con:endpoint>
    <con:endpoint mode="COPY">https://xs1qa3.xypro.com</con:endpoint>
  </con:endpointStrategy>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>token</con:name>
      <con:value xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJxYS54czEiLCJleHAiOjE0OTczNDAyMjh9.5JNV7bWGTBa9kPkts25GbrdU5by30_FIzLmkbA2hAMRnENlbfyLpJ0siP_2hW8wx3LPc5PQtj6WBH3XJ7j7vqA</con:value>
    </con:property>
    <con:property>
      <con:name>cookie</con:name>
      <con:value xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">SESSION=9722b0ba-944e-478b-92ee-d651a8848a6f</con:value>
    </con:property>
    <con:property>
      <con:name>loggedIn</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:property>
      <con:name>reportsFilename</con:name>
      <con:value>Z:\QA\XS1\API Regression\APIworkbook.xls</con:value>
    </con:property>
    <con:property>
      <con:name>RandomID</con:name>
      <con:value>565</con:value>
    </con:property>
    <con:property>
      <con:name>currentMonitorID</con:name>
    </con:property>
    <con:property>
      <con:name>siemId</con:name>
    </con:property>
    <con:property>
      <con:name>currentGroupID</con:name>
    </con:property>
    <con:property>
      <con:name>ruleLocation</con:name>
    </con:property>
    <con:property>
      <con:name>ruleId</con:name>
    </con:property>
    <con:property>
      <con:name>collectionTime</con:name>
    </con:property>
    <con:property>
      <con:name>climName</con:name>
    </con:property>
    <con:property>
      <con:name>loginTime</con:name>
    </con:property>
    <con:property>
      <con:name>scheduleId</con:name>
    </con:property>
    <con:property>
      <con:name>currentUserId</con:name>
    </con:property>
    <con:property>
      <con:name>currentHostId</con:name>
    </con:property>
    <con:property>
      <con:name>currentDefaultPolicyId</con:name>
    </con:property>
    <con:property>
      <con:name>currentCurrentPolicyId</con:name>
    </con:property>
    <con:property>
      <con:name>currentCustomPolicyId</con:name>
    </con:property>
    <con:property>
      <con:name>currentCustomPolicyEntityId</con:name>
    </con:property>
    <con:property>
      <con:name>filename</con:name>
    </con:property>
    <con:property>
      <con:name>currentClimId</con:name>
    </con:property>
    <con:property>
      <con:name>currentRuleId</con:name>
    </con:property>
    <con:property>
      <con:name>ruleName</con:name>
    </con:property>
    <con:property>
      <con:name>username</con:name>
    </con:property>
    <con:property>
      <con:name>password</con:name>
    </con:property>
    <con:property>
      <con:name>username2</con:name>
    </con:property>
    <con:property>
      <con:name>password2</con:name>
    </con:property>
    <con:property>
      <con:name>currentRuleUpdateID</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:environment id="0d012796-e8d5-4398-9893-f92506140f2e" name="XS1 qa3">
    <con:service type="REST" name="XS1 API">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://xs1qa3.xypro.com</con:endpoint>
    </con:service>
    <con:property>
      <con:name>token</con:name>
      <con:value>eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ4czFhcGlyZWdyZXNzaW9uIiwiZXhwIjoxNTU2NjQ4NDkzfQ.vIRcIojSCiG2cGn-m0pfEuYaDaMmID5FCKaf08HhPGGgu_pZky7icd-nNUTpDewSJ6ZVkcYHdVBx7kLIvXUD8Q</con:value>
    </con:property>
    <con:property>
      <con:name>cookie</con:name>
      <con:value>SESSION=MmFmMTY3YTctMDkzNC00MTQyLTgxOGMtOTViNDMxNzRiMjA1</con:value>
    </con:property>
    <con:property>
      <con:name>loggedIn</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:property>
      <con:name>reportsFilename</con:name>
      <con:value>\Reports\timesnew.xls</con:value>
    </con:property>
    <con:property>
      <con:name>RandomID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentMonitorID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>siemId</con:name>
      <con:value>26</con:value>
    </con:property>
    <con:property>
      <con:name>currentGroupID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ruleLocation</con:name>
      <con:value>13</con:value>
    </con:property>
    <con:property>
      <con:name>ruleId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>collectionTime</con:name>
      <con:value>2019-04-29 19:00:00.000</con:value>
    </con:property>
    <con:property>
      <con:name>climName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>loginTime</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>scheduleId</con:name>
      <con:value>94</con:value>
    </con:property>
    <con:property>
      <con:name>currentUserId</con:name>
      <con:value>11</con:value>
    </con:property>
    <con:property>
      <con:name>currentHostId</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>currentDefaultPolicyId</con:name>
      <con:value>38</con:value>
    </con:property>
    <con:property>
      <con:name>currentCurrentPolicyId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentCustomPolicyId</con:name>
      <con:value>63</con:value>
    </con:property>
    <con:property>
      <con:name>currentCustomPolicyEntityId</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>filename</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentClimId</con:name>
      <con:value>NCLIM001</con:value>
    </con:property>
    <con:property>
      <con:name>currentRuleId</con:name>
      <con:value>Debian-1.4.1</con:value>
    </con:property>
    <con:property>
      <con:name>currentRuleID</con:name>
      <con:value>60</con:value>
    </con:property>
    <con:property>
      <con:name>ruleName</con:name>
      <con:value>MultipleLoginsDifferentUsersXUA</con:value>
    </con:property>
    <con:property>
      <con:name>username</con:name>
      <con:value>xs1apiregression</con:value>
    </con:property>
    <con:property>
      <con:name>password</con:name>
      <con:value>xs1apiregression</con:value>
    </con:property>
    <con:property>
      <con:name>username2</con:name>
      <con:value>xs1apiregression</con:value>
    </con:property>
    <con:property>
      <con:name>password2</con:name>
      <con:value>UserReset2</con:value>
    </con:property>
    <con:property>
      <con:name>currentRuleUpdateID</con:name>
      <con:value>60</con:value>
    </con:property>
    <con:property>
      <con:name>currentRuleUpdateID</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="e550e552-e905-4719-99f4-a0c68e2f48d8" name="XS1 qa2">
    <con:service type="REST" name="XS1 API">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://xs1qa2.xypro.com</con:endpoint>
    </con:service>
    <con:property>
      <con:name>token</con:name>
      <con:value>eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJvbGdhMTIzIiwiZXhwIjoxNTM3NDgxMjc1fQ.MwJpMZkMa-aYd1KZjoiCLBAm-CHhJCVysSEl4leTtx-DFlSEw_oMbHU2lWHmI1_sWuM5_xLFNHzEy_D-1bns6g</con:value>
    </con:property>
    <con:property>
      <con:name>cookie</con:name>
      <con:value>SESSION=f047572e-2805-48e1-981a-d7492d094c78</con:value>
    </con:property>
    <con:property>
      <con:name>loggedIn</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:property>
      <con:name>reportsFilename</con:name>
      <con:value>\Reports\timesnew.xls</con:value>
    </con:property>
    <con:property>
      <con:name>RandomID</con:name>
      <con:value>3055</con:value>
    </con:property>
    <con:property>
      <con:name>currentMonitorID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>siemId</con:name>
      <con:value>54</con:value>
    </con:property>
    <con:property>
      <con:name>siemId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentGroupID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentGroupID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ruleLocation</con:name>
      <con:value>23</con:value>
    </con:property>
    <con:property>
      <con:name>ruleLocation</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ruleId</con:name>
      <con:value xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
    </con:property>
    <con:property>
      <con:name>ruleId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>collectionTime</con:name>
      <con:value>2018-09-20 19:00:00.000</con:value>
    </con:property>
    <con:property>
      <con:name>collectionTime</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>climName</con:name>
      <con:value>N1002582</con:value>
    </con:property>
    <con:property>
      <con:name>climName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>loginTime</con:name>
      <con:value>0</con:value>
    </con:property>
    <con:property>
      <con:name>LoginTime</con:name>
      <con:value>210</con:value>
    </con:property>
    <con:property>
      <con:name>scheduleId</con:name>
      <con:value>160</con:value>
    </con:property>
    <con:property>
      <con:name>scheduleId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentUserId</con:name>
      <con:value>13</con:value>
    </con:property>
    <con:property>
      <con:name>currentUserId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentHostId</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>currentDefaultPolicyId</con:name>
      <con:value>38</con:value>
    </con:property>
    <con:property>
      <con:name>currentCurrentPolicyId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentCustomPolicyId</con:name>
      <con:value>96</con:value>
    </con:property>
    <con:property>
      <con:name>currentCustomPolicyEntityId</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>currentCustomPolicyEntityId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>filename</con:name>
      <con:value>\Reports\timesnew.xls</con:value>
    </con:property>
    <con:property>
      <con:name>currentClimId</con:name>
      <con:value>N1002582</con:value>
    </con:property>
    <con:property>
      <con:name>currentRuleId</con:name>
      <con:value>Debian-1.4.1</con:value>
    </con:property>
    <con:property>
      <con:name>currentRuleID</con:name>
      <con:value>60</con:value>
    </con:property>
    <con:property>
      <con:name>ruleName</con:name>
      <con:value>MultipleLoginsDifferentUsersXUA</con:value>
    </con:property>
    <con:property>
      <con:name>username</con:name>
      <con:value>xs1apiregression</con:value>
    </con:property>
    <con:property>
      <con:name>password</con:name>
      <con:value>xs1apiregression</con:value>
    </con:property>
    <con:property>
      <con:name>username2</con:name>
      <con:value>olga123</con:value>
    </con:property>
    <con:property>
      <con:name>password2</con:name>
      <con:value>Olga1234</con:value>
    </con:property>
    <con:property>
      <con:name>currentRuleUpdateID</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="375b6235-a7ab-438f-82f7-e243e92b9dd0" name="XS1 Rano">
    <con:service type="REST" name="XS1 API">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://xs1-rano-app.xypro.com</con:endpoint>
    </con:service>
    <con:property>
      <con:name>token</con:name>
      <con:value xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ4czFhcGlyZWdyZXNzaW9uIiwiZXhwIjoxNTU3MzU0OTIxfQ.3psFIEQzi9ALHanprxDhNWgcBXNyK7Vck_LrEqDaaUkxgVKIH0XVcE25xBr__m59_38ZnjZNc0h6zC4eYymFyw</con:value>
    </con:property>
    <con:property>
      <con:name>cookie</con:name>
      <con:value>SESSION=ZjhlYzEwNDEtOWNhMS00NzIwLTllMmMtYTc4MzJmOWMxZjMw</con:value>
    </con:property>
    <con:property>
      <con:name>loggedIn</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:property>
      <con:name>reportsFilename</con:name>
      <con:value>\Reports\timesnew.xls</con:value>
    </con:property>
    <con:property>
      <con:name>RandomID</con:name>
      <con:value>3055</con:value>
    </con:property>
    <con:property>
      <con:name>currentMonitorID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>siemId</con:name>
      <con:value>705</con:value>
    </con:property>
    <con:property>
      <con:name>siemId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentGroupID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentGroupID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ruleLocation</con:name>
      <con:value>13</con:value>
    </con:property>
    <con:property>
      <con:name>ruleLocation</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ruleId</con:name>
      <con:value>60</con:value>
    </con:property>
    <con:property>
      <con:name>ruleId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>collectionTime</con:name>
      <con:value>2019-05-03 17:00:38.000</con:value>
    </con:property>
    <con:property>
      <con:name>collectionTime</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>climName</con:name>
      <con:value>N1002582</con:value>
    </con:property>
    <con:property>
      <con:name>climName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>loginTime</con:name>
      <con:value>0</con:value>
    </con:property>
    <con:property>
      <con:name>LoginTime</con:name>
      <con:value>210</con:value>
    </con:property>
    <con:property>
      <con:name>scheduleId</con:name>
      <con:value>1014</con:value>
    </con:property>
    <con:property>
      <con:name>scheduleId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentUserId</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>currentUserId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentHostId</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>currentDefaultPolicyId</con:name>
      <con:value>38</con:value>
    </con:property>
    <con:property>
      <con:name>currentDefaultPolicyId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentCurrentPolicyId</con:name>
      <con:value>61</con:value>
    </con:property>
    <con:property>
      <con:name>currentCurrentPolicyId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentCustomPolicyId</con:name>
      <con:value>132</con:value>
    </con:property>
    <con:property>
      <con:name>currentCustomPolicyId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentCustomPolicyEntityId</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>filename</con:name>
      <con:value>\Reports\timesnew.xls</con:value>
    </con:property>
    <con:property>
      <con:name>currentClimId</con:name>
      <con:value>N1002581</con:value>
    </con:property>
    <con:property>
      <con:name>currentRuleId</con:name>
      <con:value>Debian-1.4.1</con:value>
    </con:property>
    <con:property>
      <con:name>currentRuleID</con:name>
      <con:value>60</con:value>
    </con:property>
    <con:property>
      <con:name>ruleName</con:name>
      <con:value>MultipleLoginsDifferentUsersXUA</con:value>
    </con:property>
    <con:property>
      <con:name>username</con:name>
      <con:value>xs1apiregression</con:value>
    </con:property>
    <con:property>
      <con:name>password</con:name>
      <con:value>xs1apiregression</con:value>
    </con:property>
    <con:property>
      <con:name>username2</con:name>
      <con:value>olga123</con:value>
    </con:property>
    <con:property>
      <con:name>password2</con:name>
      <con:value>Qtppass2</con:value>
    </con:property>
    <con:property>
      <con:name>currentRuleUpdateID</con:name>
      <con:value>60</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="1acccb02-b4b7-4e89-ae4b-e82d2719f308" name="vm-xs1-jpapp">
    <con:service type="REST" name="XS1 API">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">vm-xs1-jpapp</con:endpoint>
    </con:service>
    <con:property>
      <con:name>token</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>cookie</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>loggedIn</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>reportsFilename</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>RandomID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentMonitorID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>siemId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentGroupID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ruleLocation</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ruleId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>collectionTime</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>climName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>loginTime</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>scheduleId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentUserId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentHostId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentDefaultPolicyId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentCurrentPolicyId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentCustomPolicyId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentCustomPolicyEntityId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>filename</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentClimId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentRuleId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ruleName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>username</con:name>
      <con:value>qa.xs1</con:value>
    </con:property>
    <con:property>
      <con:name>password</con:name>
      <con:value>Hard5678</con:value>
    </con:property>
    <con:property>
      <con:name>username2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>password2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>currentRuleUpdateID</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:environmentSpec>
    <con:entry environmentId="0d012796-e8d5-4398-9893-f92506140f2e">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="e550e552-e905-4719-99f4-a0c68e2f48d8">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="375b6235-a7ab-438f-82f7-e243e92b9dd0">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="1acccb02-b4b7-4e89-ae4b-e82d2719f308">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags/>
</con:soapui-project>
